/* 内容居中显示 */
* {
	padding: 0;
	margin: 0;
}
body  {
	box-sizing: border-box;
	height: 100vh;
	border: 1px solid red;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* 画条纹背景： */
.box {
    width: 300px;
    height: 300px;
    background: linear-gradient(
        -45deg,
        #FF8235 0%,
        #FF8235 25%,
         #30E8BF 25%,
         #30E8BF 50%,
        #FF8235 50%,
        #FF8235 75%,
         #30E8BF 75%,
         #30E8BF 100%);
    background-size: 10%;

}
